@import url("../css2");
@import url("../css2-1");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1200px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.overline {
  text-decoration-line: line-through !important;
  text-decoration-thickness: 3px !important;
}
.inlineLine {
  display: inline;
}
body {
  background: repeat url(../images/test.png), #363537;
  background-position: center, center;
  color: #f0f7ee;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.swipe-down-text {
  font-family: "Parisienne", cursive;
  position: absolute;
  bottom: 5vh;
  right: 4vw;
  font-size: 3vh;
  text-align: center;
  font-weight: 300;
}
.swipe-down-arrow {
  position: absolute;
  bottom: 10vh;
  right: 15vw;
  max-height: 15vh;
}
a {
  color: inherit;
  text-decoration: inherit;
}
hr {
  height: 3px;
  border-width: 0px;
  color: #f0f7ee;
  background-color: #f0f7ee;
  margin: 35px;
}
#goTop {
  width: 50px;
  height: 50px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f0f7ee; /* Set a background color */
  color: #363537; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 30px; /* Increase font size */
  animation-name: fadeIn;
  animation-duration: 250ms;
}
.land {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 10%;
  min-height: 90vh;
}
.logo,
.navLogo,
.mainLogo,
.descLogo {
  filter: invert(95%) sepia(7%) saturate(222%) hue-rotate(63deg)
    brightness(104%) contrast(94%);
}
.mainLogo {
  max-width: 70vw;
}
.navLogo {
  height: 22px;
}
.descLogo {
  height: 14px;
}
.upArrow {
  filter: invert(18%) sepia(7%) saturate(217%) hue-rotate(227deg)
    brightness(94%) contrast(88%);
}
.land h1 {
  font-weight: 900;
  font-size: 17vw;
  margin: 0 -10px 0 0;
  letter-spacing: 10px;
}
#phone {
  font-weight: 500;
  margin: 0;
  font-size: 8.5vw;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 90vh;
}
.nav ul {
  width: 100%;
  font-weight: 500;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav ul a {
  font-size: 65%;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 150px;
  height: 90px;
  border: #f0f7ee 2px solid;
  border-radius: 5px;
  margin: 5px;
}
.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu h3 {
  margin-top: 0px;
  margin-bottom: 35px;
}

.urun {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.urun .content {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.urun .content .desc {
  font-weight: 300;
  font-size: 16px;
  padding: 0px 0px 0px 3px;
}
#new {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#new .name {
  padding: 5px;
}
.gagaSpecial {
  height: 27px;
}
.adet {
  margin-top: 15px;
  text-align: right;
  font-size: 24px;
}
.underlined {
  padding-left: 20px;
  padding-right: 15px;
  text-decoration: underline;
}
.dortlu {
  padding-right: 32px;
}
